.card-content {
  width: 100%;

  h1 {
    margin: 0;
    font-size: 30px;
    color: $orange;
    font-family: $headersFonts;
    margin-bottom: 30px;
  }

  >div{
    padding-top: 50px;
  }
}

.card {
  width: 80%;
  margin: 30px auto;

  >div:nth-child(1){
    @include card;

    h3 {
      margin: 0;
      font: 30px $headersFonts;
    }

    a {
      text-decoration: none;
      margin: 0 0 50px;
      color: $orange;
      transition: all .3s ease;
      &:hover {
      text-shadow: 1px 1px 0 lighten($orangeLight, 15%), 2px 2px 0 lighten($orangeLight, 10%), 3px 3px 0 lighten($orangeLight, 5%);
      transform: translate(-4px,-4px);
      }
    }
  }

  >div:nth-child(2){
    background-color: white;
    @include card();
    display: flex;
    justify-content: space-between;

    >p {
      font: 16px $headersFonts;
    }
    
    h2 {
      font: 22px $headersFonts;
      color: $lapisLazuli;
      margin: 15px 0;
    }

  }
}