.card-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 500px;
  border: 5px solid $verdigris;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 30px;

  h3 {
    font: 26px $headersFonts;
    margin-top: 10px;
  }

  div {
    margin: 0;
    display: flex;
    justify-content: flex-start;

    p {
      margin-right: 30px;
    }
  }
}