main {
  max-width: 80%;
  margin: auto;

  h2 {
    color: $orange;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
  }

  div{
    margin: auto;
    width:92%;
  }

  .what{
    text-transform: capitalize;
    font: 30px $headersFonts;
    color: $orange;
  }
}