nav {
  min-width: 200px;
  min-height: 100vh;
  font-family: $headersFonts;
  line-height: 40px;
  background-color: white;
  padding-left: 20px;

  h1 {
    text-align: center;
    color: $orange;
    margin-bottom: 5px;
  }

  hr {
    margin: 10px 20px;
    color: $orange;
    border: 1px solid $orange;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  span {
    margin-right: 10px;
    color: $orange;
  }
}