nav {
  width: 300px;
  min-height: 100vh;
  background-color: $verdigris;
  color: white;
  font-family: $headersFonts;
  line-height: 40px;
  padding-left: 20px;

  ul {
    list-style: none;
    padding: 0;
  }
}