// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$mainFont: 'Montserrat', sans-serif;
$headersFonts: 'Roboto Mono', monospace;

// Colors
$lapisLazuli: #255C99;
$orange: #FFA200;
$orangeLight:  #f0bb60;
$gray: #E9ECEF;
$bg: #4F7197;
$grayDark: #373E40;
$grayDarkLight: #bdbdbde0;