// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&family=Yusei+Magic&display=swap');
$mainFont: 'Mukta', sans-serif;
$headersFonts: 'Yusei Magic', sans-serif;

// Colors
$lapisLazuli: #255C99;
$green: #618B4A;
$purple: #564787;
$verdigris: #5FB0B7;
$gray: #E9ECEF;