// Fonts
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;700&family=Yusei+Magic&display=swap');
$mainFont: 'Mukta', sans-serif;
$headersFonts: 'Yusei Magic', sans-serif;

// Colors
$lapisLazuli: #255C99;
$blue: #5eb1bf;
$cyan: #cdedf6;
$green: #618B4A;