// Import all scss files
@import './variables';
@import './mixig';
@import './navbar';
@import './card';
@import './details';
@import './topbar';

// Global styles
body {
  margin: 0;
  font-family: $mainFont;
  background-color: $gray;
}

#root {
  display: flex;
}