// Import all scss files
@import './variables';
@import './navbar';
@import './card';
@import './form';

// Global styles
body {
  margin: 0;
  font-family: $mainFont;
}

#page {
  display: flex;
  div {
    width: 80%;
    margin: 20px auto;
  }
}