// Import all scss files
@import './variables';
@import './navbar';

// Global styles
body {
  margin: 0;
  font-family: $mainFont;
  background-color: $gray;
}

#page {
  display: flex;
  > div {
    padding: 50px;
  }
}