@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
nav {
  min-width: 150px;
  min-height: 100vh;
  font-family: "Roboto Mono", monospace;
  line-height: 40px;
  background-color: #373E40;
}

nav h1 {
  text-align: center;
  color: #FFA200;
  margin-bottom: 5px;
}

nav hr {
  margin: 10px 20px;
  color: #FFA200;
  border: 1px solid #FFA200;
}

nav div div {
  margin: 25px;
  cursor: pointer;
}

nav .icon {
  color: #FFA200;
  margin: 0 30px;
}

nav p {
  font-size: 12px;
  color: #FFA200;
  margin: 0;
  text-align: center;
}

.topbar {
  font-family: "Roboto Mono", monospace;
  position: fixed;
  width: 100%;
  height: 75px;
  border-left: 1px solid #bdbdbde0;
  background-color: #373E40;
  color: #FFA200;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topbar h2 {
  margin: auto 50px;
  font-size: 25px;
  font-weight: bold;
}

.topbar p {
  margin: auto 20px;
  font-size: 20px;
  cursor: pointer;
}

.table-content {
  padding-top: 120px;
}

table {
  border-collapse: collapse;
  width: 75%;
  margin: auto;
}

table th {
  font: 20px "Roboto Mono", monospace;
  color: #FFA200;
  background-color: #373E40;
}

table tr th:nth-child(2) {
  text-align: left;
}

table th, table td {
  border-bottom: 1px solid #373E40;
  padding: 10px;
}

table td {
  font-size: 16px;
}

table tr:hover {
  background-color: white;
}

table a {
  color: #FFA200;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

table a:hover {
  text-shadow: 1px 1px 0 #f7d9a6, 2px 2px 0 #f4cf8f, 3px 3px 0 #f2c577;
  -webkit-transform: translate(-4px, -4px);
          transform: translate(-4px, -4px);
}

table tr td:nth-child(3), table tr td:nth-child(4) {
  text-align: center;
}

.details-page > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto 0;
  padding: 0 50px;
}

main {
  max-width: 80%;
  margin: 0 auto;
}

main h2 {
  font: 20px "Roboto Mono", monospace;
  color: #FFA200;
  background-color: white;
  border-radius: 2px;
  padding: 10px;
}

main div {
  margin: auto;
  width: 92%;
}

main div:nth-child(1) {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFA200;
}

main div:nth-child(1) p:nth-child(1) {
  text-transform: capitalize;
  font: 30px "Roboto Mono", monospace;
}

main div:nth-child(1) p:nth-child(2) {
  cursor: pointer;
  margin: 0;
}

.record {
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.record > div {
  width: 38%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  padding: 15px;
}

.record > div div:nth-child(1) {
  width: 100%;
  height: 50%;
}

.record > div div:nth-child(1) img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.record > div div:nth-child(2) {
  margin-top: 20px;
}

.record > div div:nth-child(2) a {
  font: 20px "Roboto Mono", monospace;
  color: #FFA200;
}

.form input, .form select, .form textarea {
  font: 13px "Montserrat", sans-serif;
  padding: 10px;
  border-radius: 3px;
  border: none;
}

.form h3 {
  background-color: white;
  font-family: "Roboto Mono", monospace;
  color: #FFA200;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 3px;
}

.form button {
  font: 14px "Montserrat", sans-serif;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
}

.woman-form {
  width: 80%;
  margin: 0 auto;
  padding: 120px 0 0;
}

.woman-form input, .woman-form select, .woman-form textarea {
  margin: 0 50px 20px 10px;
}

.woman-form form > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 85%;
  margin: 0 auto;
}

.woman-form .long {
  width: 300px;
}

.woman-form textarea {
  width: 50%;
}

.woman-form .who {
  width: 500px;
}

.woman-form button {
  background-color: #255C99;
  margin: 20px auto;
}

.woman-form button:disabled {
  background-color: #4F7197;
  color: #E9ECEF;
}

.record-form {
  width: 100%;
  margin-left: 50px;
}

.record-form h3 {
  margin: 0 0 20px;
}

.record-form form div {
  width: 95%;
  margin: 0 auto;
}

.record-form form div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.record-form form div:nth-child(3) div:nth-child(2) {
  width: 50%;
}

.record-form form div:nth-child(3) div:nth-child(2) input {
  width: 40%;
}

.record-form form div:nth-child(3) input {
  margin-left: 10px;
}

.record-form form div:nth-child(4) input {
  margin-left: 10px;
  width: 60%;
}

.record-form form input, .record-form form textarea {
  margin: 10px 0;
}

.record-form form textarea, .record-form form .long {
  width: 95%;
}

.record-form .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 10px 0;
}

.record-form .button button {
  background-color: #FFA200;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #E9ECEF;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */